@model myCoreProjectNew.Models.User;
@{
    ViewData["Title"] = "Submit Form Page";
}

<div class="text-center">
    <p>Name = @ViewBag.Name</p><br>
    <p>Email = @ViewBag.Email</p>

    <label></label>
    <input asp-for="Name" />
</div>
